.bike {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-section;
    overflow: hidden;
}

.bike h2 {
  margin: 0;
  margin-top: 149px;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $text-head;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    line-height: 41px;
    margin-top: 50px;
  }
}

.bike__kind-list {
  margin-top: 50px;
  margin-bottom: 150px;
  @media (max-width: $tablet-max-width) {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 10px;
  }
}
