.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form p{
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $text-inversion;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 10px;
    font-size: 18px;
    color: $text;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.contact-form input, .contact-form button {
  display: block;
  margin-top: 20px;
  height: 48px;
  border-radius: 6px;
  box-sizing: border-box;
}

.contact-form input {
  padding-left: 20px;
  border: 1px solid $border;
  font-size: 15px;
  line-height: 24px;
  color: $text-input;
}

.contact-form button {
  display: block;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  min-height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $background-accented;
  border: none;
  cursor: pointer;
}

.contact-form input:hover {
  box-shadow: 0 0 0 3px $blue;
}

.contact-form button:hover, .contact-form button:focus {
  opacity: 0.7;
}

.contact-form button:active {
  opacity: 0.5;
}

.contact-form--input-error{
  box-shadow: 0 0 0 6px $input-error;
}

// .contact-form input[id=tel-id]:invalid {
//   box-shadow: 0 0 0 6px $input-error;
// }
