.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // width: 327px;

}

.contact-form__head{
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: $text-inversion;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    color: $text;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.contact-form__item {
  display: block;
  margin-top: 20px;
  height: 48px;
  border-radius: 6px;
  box-sizing: border-box;
}

.contact-form__input {
  padding-left: 20px;
  border: 1px solid $border;
  font-size: 15px;
  line-height: 24px;
  color: $text-input;
}

.contact-form__input:hover {
 box-shadow: 0 0 0 3px $blue;
}

.contact-form__button {
  // display: flex;
  // align-items: center;
  display: block;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  min-height: 51px;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  background-color: $background-accented;
  border: none;
  cursor: pointer;
}

.contact-form__button:hover, .contact-form__button:focus {
  opacity: 0.7;
}

.contact-form__button:active {
  opacity: 0.5;
}

.contact-form__input--error{
  box-shadow: 0 0 0 6px $input-error;
}

.contact-form__input--tel:invalid {
  box-shadow: 0 0 0 6px $input-error;
}
