.contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $mobile-max-width) {
    flex-direction: column;
  }
}

.contact-list__item {
  margin-left: 85px;
  margin-right: 15px;
  margin-bottom: 22px;
}
