.fact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 25%;
  // max-width: 263px;
  padding: 15px 15px;

  @media (max-width: $tablet-max-width) {
    width: calc(50% - 30px);
    min-width: 263px;
    padding: 0;
    // margin-bottom: 15px;
  }

  @media (max-width: $mobile-max-width) {
    width: 80%;
    min-width: 263px;
    padding: 0;
  }
}

.fact-item dt {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: $text-accented;
  letter-spacing: -1.27273px
}

.fact-item dd {
  margin: 0;
  margin-top: 15px;
  letter-spacing: -0.5px;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    margin-top: 6px;
    margin-bottom: 10px;
    // margin-bottom: 10px;
    font-size: 18px;
  }
}

.fact-item:first-child dd {
  margin-top: 16px;
  margin-bottom: 0px;
}

.fact-item dd br {
  @media (max-width: $mobile-max-width) {
    display: none;
  }
}
