.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__header {
  margin: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $text-head;

  @media (max-width: $tablet-max-width) {
    font-size: 24px;
    text-align: center;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
    // text-align: center;
  }
}

.map__text-wrapper {
  @media (max-width: $tablet-max-width) {
    margin: 0 auto;
    padding: 0 35px;
  }
  @media (max-width: $mobile-max-width) {
    margin: 0 auto;
    padding: 0 16px;
  }
}

.map__text {
  margin: 0;
  margin-top: 30px;
  font-size: 17px;
  line-height: 31px;
  color: $text-semi-light;

  @media (max-width: $tablet-max-width) {
    margin-top: 20px;
    text-align: center;
  }
}

.map__text br {
  display: none;
  @media (max-width: $mobile-max-width) {
    display: initial;
  }
}
.map__map-wrapper {
  width: 957px;
  height: 530px;
  margin: 0 auto;
  margin-top: 42px;
  font-size: 0;

  @media (max-width: $tablet-max-width) {
    width: 698px;
    height: 545px;
    margin-top: 20px;
  }

  @media (max-width: $mobile-max-width) {
    width: 320px;
    height: 250px;
    margin-top: 25px;
  }
}

.map__contact-list {
  margin-top: 39px;
  margin-bottom: 73px;
  margin-left: -85px;

  @media (max-width: $tablet-max-width) {
    margin-top: 21px;
    margin-bottom: 31px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 31px;
    margin-bottom: 28px;
  }

}
