.nav {
  position: relative;
}

.nav__menu-toggle {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: none;
    background-color: $background-menu-toggle;
    cursor: pointer;
  }
}

.nav__menu-list {
  @media (max-width: $tablet-max-width) {
    display: none;
    width: 100%;
    padding-bottom: 138px;
  }
}

.nav__button-close-icon{
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

