// color by value
$black: #000000;
$white: #ffffff;
$dark: #1f1f1f;
$more-dark: #1C1C1C;
$dark-grey: #48494D;
$grey: #C9CCD4;
$grey-light: #F6F6F6;
$accented: #0ad9c6;
$black-rgba-05: rgba(0, 0, 0, 0.5);
$black-rgba-07: rgba(0, 0, 0, 0.7);
$white-rgba-07: rgba(255, 255, 255, 0.7);
$white-rgba-08: rgba(255, 255, 255, 0.8);
$white-rgba-02: rgba(255, 255, 255, 0.2);
$warning: #ff6347;
$blue: #4646ff;

// color by use
$text: $black;
$text-head: $dark;
$text-inversion: $white;
$text-accented:$accented;
$text-light: $black-rgba-05;
$text-semi-light: $black-rgba-07;
$text-inversion-dark: $white-rgba-07;
$text-inversion-semi-dark: $white-rgba-08;
$text-input: $more-dark;
$text-mobile-menu: $dark-grey;
$background-dark: $dark;
$background-accented: $accented;
$background-menu-toggle: $accented;
$background-menu-mobile: $white;
$background-menu-mobile-item: $grey-light;
$borderline: $white-rgba-02;
$border: $grey;
$input-error: $warning;
$input-hover:$blue;
